body {
  background-color: #bdcddd;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
  padding: 30px 50px 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 750;
  padding: 20px 0 10px;
  margin: 0 20px 20px;
}
select {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}
h2 {
  font-size: 36px;
  margin: 10px 0 6px;
  font-weight: 700;
  line-height: 1.7;
}
.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0 10px;
  border-bottom: 1px solid #bdcdddc8;
}
.city:last-child {
  border-bottom: none;
}
.date {
  opacity: 0.9;
  font-size: 16px;
  position: relative;
  top: -10px;
}
.time {
  font-size: 48px;
  line-height: 1.8;
  font-weight: bold;
  vertical-align: super;
  margin-right: 2px;
}
.time small {
  line-height: 36px;
  font-size: 24px;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
