body {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
  padding: 30px 40px 30px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 750;
  padding: 20px 0 10px;
  margin: 0 20px 20px;
}
.header {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  padding: 10px;
  position: relative;
  left: 165px;
}
.material-symbols-outlined {
  position: relative;
  bottom: 25px;
  left: -380px;
  font-size: 100px;
  transition: all 1000ms ease-in-out;
}

.material-symbols-outlined:hover {
  transform: rotate(280deg);
}

select {
  width: 100%;
  max-width: 700px;
  padding: 14px 18px;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  outline: none;
  transition: all 0.25s ease;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 10px 0 10px 2px;
  font-weight: 700;
  line-height: 1.7;
  position: relative;
  top: 4px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
  border-bottom: 1px solid #bdcdddc8;
}

.city:last-child {
  border-bottom: none;
}

.date {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 2px 0 0 2px;
  color: #484848;
  position: relative;
  top: -12px;
  left: 2px;
}

.time {
  font-family: "Lucida Console", monospace;
  font-size: 48px;
  line-height: 1.8;
  font-weight: bold;
  vertical-align: super;
  margin-right: 2px;
  position: relative;
  top: 8px;
}

.time small {
  font-family: "Lucida Console", monospace;
  line-height: 36px;
  font-size: 24px;
  margin: 0 18px 0 10px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #d4d4d4;
}
