body {
  background-color: #bdcddd;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 30px auto;
  background-color: white;
  padding: 30px 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 750;
  padding: 20px 0 10px;
  margin: 0 20px 20px;
}
.header {
  display: flex;
  padding: 10px;
  position: relative;
  left: 165px;
}
.material-symbols-outlined {
  position: relative;
  bottom: 25px;
  left: -380px;
  font-size: 100px;
  transition: all 1000ms ease-in-out;
}

.material-symbols-outlined:hover {
  transform: rotate(280deg);
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid gray;
}
h2 {
  font-size: 30px;
  margin: 10px 0 10px;
  font-weight: 700;
  line-height: 1.7;
  position: relative;
  top: 4px;
}
.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
  border-bottom: 1px solid #bdcdddc8;
}
.city:last-child {
  border-bottom: none;
}
.date {
  opacity: 0.9;
  font-size: 16px;
  position: relative;
  top: -12px;
  left: 2px;
}
.time {
  font-size: 48px;
  line-height: 1.8;
  font-weight: bold;
  vertical-align: super;
  margin-right: 2px;
  position: relative;
  top: 8px;
}
.time small {
  line-height: 36px;
  font-size: 24px;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #484848;
}
